
.mainhead{
    margin-top: 70px;
  font-size: 50px;
  font-weight: 700;
  color: gray;
  text-align: center;
}
.addform{
    padding: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: none;
}
.subbtn{
        margin-top: 5px;
        background-color: red;
        width: 280px;
        color: white;
        border-radius: 5px;
        padding: 5px;
        font-weight: 600;
    
}
.dropbox{
    margin-left: 2px;
    margin-bottom: -20px;
    border-style: dashed;
    border-radius: 10px;
    border-color: black;
    border-width: 2px;
    width: 270px;
    height: 120px;
    background-color: none;
    justify-content: center;
    align-items: center;
    display: flex;
}
.icon{
    color: black;
    font-size: 40px;
}
.iconbox{
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 20px;
}
.inputspace{
    width: 270px;
    border-radius: 5px;
}

.logoutbtn{
    color: red;
}

.nav_bar{
    background-color: white;
    border: 1px solid rgb(221, 219, 219);
}
.dropbox.Selected {
    border-color: green;
    background-color: yellowgreen;
    color: blue;
}
.bottomtext{
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 10px;
    color: rgb(122, 122, 122);
    text-wrap: wrap;
    
  }
