.page {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  
  justify-content: center;
  align-items: center;
  height: 100dvh;
  
}
.image{
  height: 70vh;
  width: 75vh;
}
.main_head{
  font-size: 50px;
  font-weight: 900;
  
}
.btn{
  background-color: red;
  border-radius: 25px;
  font-weight: bold;
  height: 30px;
  margin-top: -8px;

}
.btn_main{
  background-color: red;
  border-radius: 15px;
  font-weight: bold;
  height: 45px;
  margin-top: -8px;

}
.btn_main_2{
  background-color: rgb(209, 209, 209);
  border: none;
  color: black;
  border-radius: 15px;
  font-weight: bold;
  height: 45px;
  margin-top: -8px;

}
.login_card{
  background-color: white;
  border-radius: 15px;
  border-color: rgb(187, 186, 186) ;
  
}

.input_box{
  border-radius: 15px;
}
.nav_bar{
  background-color: white;
  border: 1px solid rgb(221, 219, 219);

}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.profile_page{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  
  
}

.proimage{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border-width: 1px;
  border-color: black;
  position: relative;
 
}

.Profilename{
  font-weight: 900;
  font-size: 20px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.logout_btn{
  margin-top: 15px;
  color: red;
  background-color: rgb(212, 209, 209);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 15px;
  font-weight: bold;
  height: 45px;

}
.container{
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
}
.card{
  height: 150px;
  width: 200px;
  background-color: rgb(223, 220, 220);
  border-radius: 5px;
  object-fit: cover;
}
.card:hover{
  transform: scale(1.05); 
  box-shadow: 0 10px 20px rgba(248, 245, 245, 0.2);
}
.card_Heading{
  margin-left: 10px;
  font-weight: 700;
}

.card_pera{
  margin-left: 10px;
  font-weight: 200;
}

.spanicon{
  margin-top: -50px;
  margin-left: 160px;
  position: absolute;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  color: black;
  background-color: rgb(209, 207, 207);
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.icon1{
  color: black;
  
}
.addnew{
  height: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.addnewlable{
  margin-top: 8px;
  color: white;
  background-color: red;
  border-radius: 5px;
  padding: 5px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}
.addform{
  
  width: auto;
  margin-top: 30px;
  margin-left: 38%;

}

.newpostheading{
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: 32%;
  font-size: 50px;
  font-weight: 700;
  color: rgb(139, 139, 139);
  margin-top: 100px;
}
.subbtn{
  margin-top: 5px;
  background-color: red;
  width: 280px;
  color: white;
  border-radius: 5px;
  padding: 5px;
  font-weight: 600;
}
.logoutbtn{
  color: red;
}
.mainhead{
  margin-top: 70px;
  font-size: 50px;
  font-weight: 700;
  color: gray;
  text-align: center;
}
