.page {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  
  justify-content: center;
  align-items: center;
  height: 100dvh;
  
}
.image{
  height: 70vh;
  width: 75vh;
}
.main_head{
  font-size: 50px;
  font-weight: 900;
  
}
.btn{
  background-color: red;
  border-radius: 25px;
  font-weight: bold;
  height: 30px;
  margin-top: -8px;

}
.btn_main{
  background-color: red;
  border-radius: 15px;
  font-weight: bold;
  height: 45px;
  margin-top: -8px;

}
.btn_main_2{
  background-color: rgb(209, 209, 209);
  border: none;
  color: black;
  border-radius: 15px;
  font-weight: bold;
  height: 45px;
  margin-top: -8px;

}
.login_card{
  background-color: white;
  border-radius: 15px;
  border-color: rgb(187, 186, 186) ;
  
}

.input_box{
  border-radius: 15px;
}
.nav_bar{
  background-color: white;
  border: 1px solid rgb(221, 219, 219);

}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.profile_page{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 30px;
}
.profile_content{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.proimage{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border-width: 1px;
  border-color: black;
  position: relative;
 
}

.Profilename{
  font-weight: 500;
  font-size: 25px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.logout_btn{
  margin-top: 15px;
  color: red;
  background-color: rgb(212, 209, 209);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 15px;
  font-weight: bold;
  height: 45px;

}
.container{
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.containeroffeed{
  padding: 38px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.card{
  height: 150px;
  width: 200px;
  background-color: rgb(223, 220, 220);
  border-radius: 5px;
  object-fit: cover;
}

.card_Heading{
  margin-top: 5px;
  margin-left: 10px;
  font-weight: 700;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; /* number of lines */
  overflow: hidden;
  overflow-wrap: anywhere;
  word-break: break-word;
}

.card_pera{
  padding: 10px 10px 20px 10px;
  font-weight: 200;
  width: 200px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* number of lines */
  overflow: hidden;
  overflow-wrap: anywhere;
  word-break: break-word;

}

.spanicon{
  margin-top: -50px;
  margin-left: 160px;
  position: absolute;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  color: black;
  background-color: rgb(209, 207, 207);
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.icon1{
  color: black;
  
}
.addnew{
  height: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.addnewlable{
  margin-top: 8px;
  color: white;
  background-color: red;
  border-radius: 5px;
  padding: 5px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}
.addform{
  
  width: auto;
  margin-top: 30px;
  margin-left: 38%;

}

.newpostheading{
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: 32%;
  font-size: 50px;
  font-weight: 700;
  color: rgb(139, 139, 139);
  margin-top: 100px;
}
.subbtn{
  margin-top: 5px;
  background-color: red;
  width: 280px;
  color: white;
  border-radius: 5px;
  padding: 5px;
  font-weight: 600;
}
.logoutbtn{
  color: red;
}
.mainhead{
  margin-top: 70px;
  color: gray;
  gap: 30%;
  align-items: center;
  display: flex;
  justify-content: center;
}
.mainheading{
  font-size: 50px;
  font-weight: 700;
  color: gray;
  text-align: center;
  display: flex;
  justify-content: center;
}
.searchbar{
  border-radius: 5px;
  font-size: 15px;
  height: 40px;
}
.deletebtn{
  margin-top: -35px;
  margin-left: 165px;
  position: absolute;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: rgb(252, 207, 207);
  display: flex;
  align-items: center;
  justify-content: center;
}
.delicon{
  color: red;
  font-weight: 700;
}
.count{
  margin-left: 40px;
}


.bottomtext{
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 10px;
  color: rgb(122, 122, 122);
  text-wrap: wrap;
  
}
.active{
  width: 50px;
  height: 10px;
  background-color: green;
  
}
.cardbody{
  height: 290px;
  width: 220px;
  border: 1px solid rgba(148, 146, 146, 0.295);
  display: flex;
  flex-wrap: wrap;
  padding: 10px 10px 10px 10px;
  border-radius: 15px;
}


.userimg{
  height: 25px;
  width: 25px;
  background-color: blueviolet;
  border-radius: 50%;
}
.userdetails{
  padding: 10px 10px 10px 10px;
  font-weight: 200;
  width: 200px;
  display: flex;
  gap: 20px;
  align-items: center;
}
.postfeture{
  height: 30px;
  width: 100px;
  gap: 10px;
  border-radius: 10px;
  background-color: rgba(255, 180, 215, 0.486);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
}

.errorpopup{
  background-color: white;
  width: 60dvh;
  

}